modern-modal.ajax(data-modal-id="ajax-modal" data-modal-template-setting="destroy")
  .close-button(data-modal-destroy)
  .scroll 
    .inner 
      .container
        .nav 
          ul 
            li 
              a(href="javascript:;" data-anchor-target=".ajax-se1" data-anchor-container='.scroll' data-anchor-gap='200') section1 
            li 
              a(href="javascript:;" data-anchor-target=".ajax-se2" data-anchor-container='.scroll' data-anchor-gap='200') section2
            li 
              a(href="javascript:;" data-anchor-target=".ajax-se3" data-anchor-container='.scroll' data-anchor-gap='200') section3 
        .content 
          section.ajax-se1(data-aost data-aost-active data-aost-fade-up style='--bg-color:#FFa') 
            p section
          section.ajax-se2(data-aost data-aost-active data-aost-fade-up style='--bg-color:#FaF') 
            p section
          section.ajax-se3(data-aost data-aost-active data-aost-start='130' data-aost-fade-up style='--bg-color:#aFF') 
            p section
